<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table style="background-color:#f5f6fa;border-radius: 20px;" *ngIf="dataLoaded==true" class="table table-borderless">
    <thead>
        <tr style="background-color: #04513e;color: white;">
            <th>Markalar</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <div class="mb-3">
                <input type="text" [(ngModel)]="filterText" class="form-control" id="exampleFormControlInput1" placeholder="Marka ara" id="filterText">
            </div>
            <th *ngFor="let brand of brands" scope="row" (click)="setCurrentBrand(brand)" [class]="getCurrentCategoryClass(brand)" routerLink="/cars/brand/{{brand.brandId}}">{{brand.brandName}}</th>
        </tr>
    </tbody>
</table>