<!-- <div class="container">

    <div *ngFor="let carImage of carImages">
        <img src="https://localhost:44312/Images/{{carImage.imagePath}}" class="rounded img-fluid" />
    </div>
</div> -->

<div class="container">
    <div *ngIf="!dataLoaded" class="spinner-grow" role="status"></div>
    <div *ngFor="let car of cars" class="row">
        <div class="col-md-5">
            <h4>
                <strong>{{ car.brandName }}</strong>
            </h4>
            <h5>Açıklama : {{ car.description }}</h5>
            <h6>Renk : {{ car.colorName }}</h6>
            <h6>Model Yılı : {{ car.modelYear }}</h6>
        </div>
        <div class="col-md-7">
            <h3>Fiyat (Günlük) : {{ car.dailyPrice }} TL</h3>
        </div>
    </div>
</div>