<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Yükleniyor...</span>
</div>

<div class="row">
    <div style="margin-top: 10px;" *ngFor="let car of cars">
        <div class="card border-0 mb-3">
            <img src="{{imageBasePath}}{{ car.imagePath}}">
            <ul class="list-group list-group-flush" style="font-weight:bolder;">
                <li class="list-group-item">
                    <span class="float-start">Marka</span>
                    <span class="float-end">{{car.brandName}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Renk </span>
                    <span class="float-end">{{car.colorName}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Model Yılı </span>
                    <span class="float-end">{{car.modelYear}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Özellikler </span>
                    <span class="float-end">{{car.description}}</span>
                </li>
                <p class="card-text text-center h3 mt-3">{{car.dailyPrice }}₺ /Gün</p>
            </ul>
        </div>
    </div>
</div>