<div *ngFor="let carImage of carImages">
    <img class="rounded float-start" src="https://localhost:44312/{{ carImage.imagePath }}" class="d-block w-100" height="365" />
</div>

<table *ngIf="dataLoaded==true" class="table table-dark">
    <thead>
        <tr>
            <th>Araba Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Renk</th>
            <th>Fiyat</th>
            <th>KDV'li Fiyat</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.brandName |uppercase}}</td>
            <td>{{car.carName |uppercase}}</td>
            <td>{{car.colorName |uppercase}} </td>
            <td>{{car.dailyPrice |currency}}</td>
            <td>{{car.dailyPrice |vatAdded:18 |currency}}</td>
        </tr>
    </tbody>

</table>